body {
  margin: 0;   /* removes default */
  padding: 0;
}
.flex-container{
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 1500px;
    height: 80px;
    align-items: center;
}
button {
  background-color: #3882F6;  /* default background */
  color: #fff;             /* text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

button:hover {
  background-color: #ff6600; /* hover background */
  color: #ffffff;              /* hover text color */
}

button:active {
  background-color: #cc3300; /* active (clicked) state */
}

.nav-links{
    display: flex;
    width: 350px;
    justify-content: space-between;
}
nav a {
  color: #ffffff; /* normal link color */
  text-decoration: none; /* removes underline if you want */
}

nav a:hover {
  color: #ff6600; /* color on hover */
}

nav a:active {
  color: #cc3300; /* color when clicked */
}

nav a:visited {
  color: #666; /* color for visited links */
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
}
.text{
    width: 400px;
    font-family: "san serif", Roboto;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.text h2{
    margin: 0px;
}
.img{
    margin: 100px 0px;
    background-color: #E5E7EB;
    width: 500px;
    height: 250px;
    display: flex;
    
}

.flex-container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;   
}
.info-group{
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-between;
}
.info{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 160px;
    
}
.box{
    border: solid blue;
    border-radius: 5px;
    height: 150px;
    width: 120px;
}
.flex-container2{
    background-color: #E5E7EB;
    height: 400px;
}
.testimonial{
    padding: 20px 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   
}
.quote{
    width: 1200px;
  font-style: italic;
  font-weight: lighter;
  font-size: 36px;
  color: #1f2937;
}
.owner{
    font-weight: bold;
    display: flex;
    
}
.flex-container3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.CTA{
    display: flex;
    background-color: #3882f6;
    padding: 20px 150px;
    width: 800px;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
}
.CTA h5{
    margin: 0px;
    font-weight: bold;
    font-size: 22px;
}
.one{
    border: solid whitesmoke;
    border-radius: 5px;
    
}
.footer{
    background-color: #1f2937;
    color: #E5E7EB;
    text-align: center;
    padding: 20px 0px;
}